# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data
data/uploads/*
data/resumes.csv
data/resume_Resumes_resumes.csv
!data/uploads/.gitkeep
!data/CVs/.gitkeep
!data/resume/Resumes/.gitkeep

# IDEs
.idea/
.vscode/
